@{
    ViewData["Title"] = "Inicio";
}

<div class="hero">
    <h1>Bienvenido al Control de Asistencia</h1>
    
</div>

<style>
    .hero {
        height: 100vh;
        background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/css/img/FondoVerde.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;
    }

        .hero h1 {
            font-size: 3rem;
            font-weight: 700;
        }

        .hero p {
            font-size: 1.3rem;
            margin-top: 10px;
        }
</style>
